.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.header__content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__content > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.header__top {
  left: 0;
  top: 0;
  height: var(--header-top-height);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__bottom {
  position: fixed;
  bottom: 2rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
