.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.header__content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__content > * {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.header__top {
  left: 0;
  top: 0;
  height: var(--header-top-height);
  align-items: center;
}

.header__bottom {
  position: fixed;
  bottom: 2rem;
  align-items: flex-end;
}

/* .header__top *,
.header__bottom * {
  transition: color 0.3s ease-in-out;
} */
