.featured-content {
  overflow: hidden;
  padding: var(--spacing_7) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing_7);
}

@media screen and (max-width: 1199px) and (orientation: portrait) {
  .featured-content {
    margin-top: -50%;
  }
}

@media screen and (max-width: 749px) {
  .featured-content {
    margin-top: 30%;
  }
}

.featured-content__slide {
  width: 100%;
}

.featured-content__nav {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.featured-content__nav.prev {
  left: calc(var(--page-margin) * -3.6);
  transform: rotate(180deg);
}

.featured-content__nav.next {
  right: calc(var(--page-margin) * -3.6);
}

@media screen and (max-width: 1199px) {
  .featured-content__nav {
    display: none;
  }
}

.featured-content__thumbnails {
  display: none;
  margin-top: var(--spacing_7);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .featured-content__thumbnails {
    display: flex;
  }
}

.featured-content__thumbnail {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.featured-content__thumbnail.active {
  background-color: black;
}

.brrbrbrbrb {
  display: block;
  width: 2.5rem;
  height: 11.5rem;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.brrbrbrbrb::before {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  height: 5.75rem;
  width: 1px;
  background-color: #1d1d1b;
  border-radius: 1px;
  bottom: 50%;
  transform-origin: bottom right;
  transform: rotate(-14deg);
}
.brrbrbrbrb::after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  height: 5.75rem;
  width: 1px;
  background-color: #1d1d1b;
  border-radius: 1px;
  top: 50%;
  transform-origin: top right;
  transform: rotate(14deg);
}

.featured-content__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--twilight-background-color) 0 100%;
  background-size: 100% 200%;
  z-index: -10;
  transition: opacity 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
