.email-form.lg {
  border-top: 1px solid currentColor;
  padding-top: var(--spacing-4);
}

.email-form.sm .email-form__label {
  font-size: var(--h4_font_size);
  width: 100%;
}

.email-form.lg .email-form__label {
  font-family: var(--heading_font_family);
  font-size: var(--h2_font_size);
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .email-form.lg .email-form__label {
    font-size: var(--h1_font_size);
  }
}

.email-form.lg .email-form__input-line {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: var(--spacing-6);
  border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 749px) {
  .email-form.lg .email-form__input-line {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;
  }
}

.email-form.sm .email-form__input-container {
  border-bottom: 1px solid currentColor;
}

.email-form.lg .email-form__input-container {
  flex-grow: 1;
}

@media screen and (max-width: 749px) {
  .email-form.lg .email-form__input-container {
    border-bottom: 1px solid currentColor;
    margin-bottom: var(--spacing-2);
    width: 100%;
  }
}

.email-form__input {
  width: 100%;
  color: inherit;
  font-size: 1rem;
  padding: 0.8em 1em 0.8em 0;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.email-form__input:hover,
.email-form__input:active {
  transform: translateX(8px);
}

.email-form__input::placeholder {
  color: color-mix(in srgb, currentColor 40%, transparent);
}
