.book-link {
  /* width: 100%;
  height: 100%;
  height: 200px;
  --book_image_min_scale: 0.75;
  --book_image_max_scale: 1.5;
  --book_scale: 0.16071759026716;
  width: calc(
    var(--book_image_min_scale) * 100% + var(--book_scale, 1) *
      (var(--book_image_max_scale) - var(--book_image_min_scale)) * 100%
  );
  max-width: 100%; */

  width: 100%;
  min-width: 100px;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  max-height: 1600px;
}

.book-link__image-container {
  box-shadow: 0.6rem 0.75rem 0.75rem 0 rgba(29, 29, 27, 0.1);
  background-color: #e1d7d1;
}

.book-link__image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
