:root {
  --font-color: #1d1d1b;
  --background-color: #f0ebe8;
  --font-color-active: #ea5a0b;
  --sun-color: #f0eb65;
  --sunset-color: linear-gradient(
    to bottom,
    #ff6c78,
    #ffb5bb,
    var(--sun-color)
  );
  --sunset-background-color: linear-gradient(
    to bottom,
    #ffb8be,
    #fedcc4,
    rgb(254 220 196 / 0)
  );
  --twilight-background-color: linear-gradient(
    to top,
    #aacdd4,
    #badcd7,
    rgb(254 220 196 / 0)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #f0ebe8;
    --background-color: #1d1d1b;
  }
}
