@font-face {
  font-family: Archivo;
  font-style: normal;
  font-weight: 400;
  src:
    url('../assets/fonts/Archivo-Regular.woff2') format('woff2'),
    url('../assets/fonts/Archivo-Regular.woff') format('woff');
}

@font-face {
  font-family: Archivo;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Archivo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gambarino';
  font-style: normal;
  font-weight: 400;
  src:
    url('../assets/fonts/Gambarino-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gambarino-Regular.woff') format('woff');
}

:root {
  --base_font_family: Archivo, Arial, sans-serif;
  --heading_font_family: Gambarino, 'Times New Roman', serif;
  --h1_font_size: 10rem;
  --h2_font_size: 5.6rem;
  --h3_font_size: 4rem;
  --h4_font_size: 2.4rem;
  --base_font_size: 2.4rem;
  --sm_font_size: 1.8rem;
  --xs_font_size: 1.3rem;
}

@media screen and (max-width: 1499px) {
  :root {
    --h1_font_size: 6.5rem;
    --h2_font_size: 4.5rem;
    --h3_font_size: 2.6rem;
    --h4_font_size: 1.5rem;
    --base_font_size: 1.5rem;
    --sm_font_size: 1.5rem;
    --xs_font_size: 0.8rem;
  }
}

@media screen and (max-width: 1099px) {
  :root {
    --h1_font_size: 5.5rem;
    --h2_font_size: 3.25rem;
    --h3_font_size: 2.25rem;
    --h4_font_size: 1.25rem;
    --base_font_size: 1.5rem;
    --sm_font_size: 1.5rem;
    --xs_font_size: 1rem;
  }
}

@media screen and (max-width: 789px) {
  :root {
    --h1_font_size: 4.2rem;
    --h2_font_size: 2.5rem;
    --h3_font_size: 1.75rem;
    --h4_font_size: 1rem;
    --base_font_size: 1.1rem;
    --sm_font_size: 0.9rem;
    --xs_font_size: 0.75rem;
  }
}

@media screen and (max-width: 439px) {
  :root {
    --h1_font_size: 3.25rem;
    --h2_font_size: 1.6rem;
    --h3_font_size: 1.4rem;
    --h4_font_size: 1.3rem;
    --base_font_size: 1rem;
    --sm_font_size: 1rem;
    --xs_font_size: 0.8rem;
  }
}

@media screen and (max-width: 349px) {
  :root {
    --h1_font_size: 2.6rem;
    --h2_font_size: 1.4rem;
    --h3_font_size: 1.2rem;
    --h4_font_size: 1.1rem;
    --base_font_size: 0.8rem;
    --sm_font_size: 0.9rem;
    --xs_font_size: 0.6rem;
  }
}

html {
  font-size: 16px;
}
