@font-face {
  font-family: Archivo;
  font-style: normal;
  font-weight: 400;
  src:
    url('src/assets/fonts/Archivo-Regular.woff2') format('woff2'),
    url('src/assets/fonts/Archivo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gambarino';
  font-style: normal;
  font-weight: 400;
  src:
    url('src/assets/fonts/Gambarino-Regular.woff2') format('woff2'),
    url('src/assets/fonts/Gambarino-Regular.woff') format('woff');
}

:root {
  --base-font-family: Archivo, Arial, sans-serif;
  --heading-font-family: Gambarino, 'Times New Roman', serif;
  --h1-font-size: 10rem;
  --h2-font-size: 4rem;
  --h3-font-size: 4rem;
  --h4-font-size: 3.2rem;
  --base-font-size: 2rem;
  --sm-font-size: 1rem;
}

@media screen and (max-width: 1199px) {
  :root {
    --h1-font-size: 6rem;
    --h2-font-size: 3.4rem;
    --h3-font-size: 4rem;
    --h4-font-size: 3.2rem;
    --base-font-size: 1.4rem;
    --sm-font-size: 1rem;
  }
}

@media screen and (max-width: 749px) {
  :root {
    --h1-font-size: 3.2rem;
    --h2-font-size: 1.9rem;
    --h3-font-size: 4rem;
    --h4-font-size: 3.2rem;
    --base-font-size: 1.4rem;
    --sm-font-size: 1.1rem;
  }
}

html {
  font-size: 16px;
}

/* 
@media screen and (min-width: 400px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 30px;
  }
} */
