:root {
  --spacing_1: 0.6rem;
  --spacing_2: 1.2rem;
  --spacing_3: 1.75rem;
  --spacing_4: 2.4rem;
  --spacing_5: 3rem;
  --spacing_6: 4.7rem;
  --spacing_7: 9.5rem;
  --spacing_8: 11.25rem;
  --spacing_9: 19rem;
}

@media screen and (max-width: 1199px) {
  :root {
    --spacing_1: 0.5rem;
    --spacing_2: 1rem;
    --spacing_3: 1.5rem;
    --spacing_4: 2rem;
    --spacing_5: 2.5rem;
    --spacing_6: 4rem;
    --spacing_7: 8rem;
    --spacing_8: 9.5rem;
    --spacing_9: 16rem;
  }
}

@media screen and (max-width: 749px) {
  :root {
    --spacing_1: 0.7rem;
    --spacing_2: 1.1rem;
    --spacing_3: 1.65rem;
    --spacing_4: 2.2rem;
    --spacing_5: 2.2rem;
    --spacing_6: 2.75rem;
    --spacing_7: 4.4rem;
    --spacing_8: 5rem;
    --spacing_9: 8.8rem;
  }
}
