:root {
  --base-px: 13.5;
  --spacing-1: 0.8rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 3.2rem;
  --spacing-5: calc(40 / var(--base-px) * 1rem);
  --spacing-6: calc(64 / var(--base-px) * 1rem);
  --spacing-7: 4rem;
  --spacing-8: calc(152 / var(--base-px) * 1rem);
  --spacing-9: calc(256 / var(--base-px) * 1rem);
}

@media screen and (max-width: 1199px) {
  :root {
    --base-px: 16;
    --spacing-1: 1.1rem;
  }
}

@media screen and (max-width: 749px) {
  :root {
    --base-px: 14.5;
    --spacing-5: 2rem;
    --spacing-6: 3.4rem;
    --spacing-7: 3.6rem;
    --spacing-8: 4rem;
    --spacing-9: calc(128 / var(--base-px) * 1rem);
  }
}
