.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  overflow-x: clip;
  pointer-events: none;
  padding: var(--spacing_8) 0;
}

.intro-section__content {
  align-self: center;
  text-align: center;
  transition: transform 0.3s ease-out;
}

.intro-section__title {
  font-family: var(--heading_font_family);
  font-size: var(--h1_font_size);
  transition: transform 0.3s ease-out;
}

.intro-section__title span {
  display: inline-block;
}

.intro-section__title > span {
  overflow-y: hidden;
  height: var(--h1_font_size);
  line-height: 1.2;
  display: flex;
  align-content: end;
}

@media screen and (max-width: 2599px) {
  .intro-section__title > span {
    display: block;
  }
}

.intro-section__description {
  margin-top: var(--spacing_5);
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
