.new-arrivals {
  padding: var(--spacing-8) 0;
  padding-top: 70vh;
  text-align: center;
  pointer-events: none;
}

.new-arrivals__title-container {
  position: absolute;
  width: 100%;
  height: calc(50% + 150vh);
  bottom: calc(50% - 0.6em);
  pointer-events: none;
  z-index: -1;
}

@media screen and (max-width: 1199px) and (orientation: portrait),
  screen and (max-width: 749px) {
  .new-arrivals__title-container {
    height: calc(100% + 150vh);
    bottom: calc(var(--home_latest_books_mobile_title_bottom, 50%) - 0.6em);
  }
}

.new-arrivals__title {
  top: 45%;
  position: sticky;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

.new-arrivals__title span {
  display: block;
  padding: 0.08em 0 0.1em;
}

.new-arrivals__books {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: var(--spacing-7);
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 1199px) and (orientation: portrait),
  screen and (max-width: 749px) {
  .new-arrivals__books {
    flex-direction: column;
    gap: var(--spacing-8);
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) {
  .new-arrivals__books li {
    margin: 0 calc(var(--grid-col-width) * 4);
  }
}

@media screen and (max-width: 749px) {
  .new-arrivals__books li {
    margin: 0 calc(var(--grid-col-width) * 2);
  }
}

.new-arrivals__link-container {
  margin-top: var(--spacing-4);
  text-align: center;
}

@media screen and (max-width: 749px) {
  .new-arrivals__link-container {
    margin-top: var(--spacing-3);
  }
}

.new-arrivals__link {
  display: inline-block;
  font-size: calc(18 / var(--base-px) * 1rem);
  font-family: var(--heading-font-family);
}

.cta::after {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 0.85em;
  height: 100%;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
