.new-arrivals {
  padding: var(--spacing_8) 0 var(--spacing_7);
  padding-top: 70vh;
  text-align: center;
}

.new-arrivals__title-container {
  position: absolute;
  width: 100%;
  height: calc(50% + 150vh);
  bottom: calc(50% - 0.6em);
  pointer-events: none;
  z-index: -1;
}

.new-arrivals__title {
  top: 45%;
  position: sticky;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--h1_font_size);
  font-family: var(--heading_font_family);
  text-transform: uppercase;
}

.new-arrivals__title span {
  display: block;
  padding: 0.08em 0 0.1em;
}

.new-arrivals__books {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: var(--spacing_7);
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 1199px) and (orientation: portrait),
  screen and (max-width: 749px) {
  .new-arrivals__books {
    flex-direction: column;
    gap: var(--spacing_8);
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) {
  .new-arrivals__books li {
    margin: 0 calc(var(--grid_col_width) * 4);
  }
}

@media screen and (max-width: 749px) {
  .new-arrivals__books li {
    margin: 0 calc(var(--grid_col_width) * 2);
  }
}

.new-arrivals__link-container {
  margin-top: var(--spacing_5);
  text-align: center;
}

@media screen and (max-width: 749px) {
  .new-arrivals__link-container {
    margin-top: var(--spacing_8);
  }
}
