.burger {
  --burger_width: 36px;
  --burger_height: 18px;
  --burger_line_height: 2px;
  --burger_line_offset: 8px;
  width: var(--burger_width);
  height: var(--burger_height);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
  color: inherit;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.burger__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger_line_height);
  display: inline-block;
  background-color: currentColor;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.burger__line:nth-child(1) {
  top: 0;
}

.burger__line:nth-child(2) {
  top: var(--burger_line_offset);
}

.burger__line:nth-child(3) {
  top: calc(var(--burger_line_offset) * 2);
}

.burger:hover .burger__line:nth-child(1) {
  transform: translate(0, -3px);
}

.burger:hover .burger__line:nth-child(3) {
  transform: translate(0, 3px);
}

.burger.open {
  transform: rotate(-90deg);
}

.burger.open:hover {
  color: var(--font_color_active);
}

.burger.open .burger__line:nth-child(1) {
  transform: translate(0, var(--burger_line_offset)) rotate(-135deg);
}

.burger.open .burger__line:nth-child(2) {
  transform: rotate(-135deg);
}

.burger.open .burger__line:nth-child(3) {
  transform: translate(0, calc(var(--burger_line_offset) * -1)) rotate(-45deg);
}
