.menu {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.menu.open {
  pointer-events: auto;
}

.menu__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f0ebe8;
  transition: opacity 0.3 ease-in-out;
}

@media screen and (min-width: 1200px),
  screen and (max-width: 1199px) and (min-width: 750px) {
  .menu__inner {
    display: flex;
    padding: 0 var(--page-margin);
    height: 100%;
  }
}

@media screen and (max-width: 749px) {
  .menu__inner {
    display: block;
    height: 100%;
    padding: calc(var(--header-top-height) + var(--spacing-7))
      var(--page-margin) 3.25rem;
    scrollbar-width: none;
  }
}

.menu__navigation {
  margin-top: auto;
  padding: var(--page-margin) 0;
  flex-shrink: 0;
  width: calc((var(--grid-col-width) + var(--grid-gap)) * 14 - var(--grid-gap));
}

@media screen and (max-width: 1199px) and (min-width: 750px) {
  .menu__navigation {
    width: calc(
      (var(--grid-col-width) + var(--grid-gap)) * 8 - var(--grid-gap)
    );
  }
}

.menu__navigation nav {
  width: 100%;
  padding-right: calc(var(--grid-gap) * 0 + var(--grid-col-width) * 0.5);
  font-size: calc(72 / var(--base_px) * 1rem);
}

.menu__line-container {
  overflow: hidden;
}

@media screen and (max-width: 749px) {
  .menu__navigation nav {
    font-size: calc(28 / var(--base_px) * 1rem);
  }
}

.menu__inner ul {
  list-style: none;
}

.menu__line {
  width: 1px;
  background-color: black;
  height: 100%;
}

@media screen and (max-width: 749px) {
  .menu__line {
    width: 100%;
    height: 1px;
  }
}

.menu__side {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: max(var(--header-top-height), 22.5vh) 0 var(--page-margin)
    var(--grid-gap);
}

.menu__nav-link {
  overflow: hidden;
}

.menu__nav-link a {
  display: inline-block;
}

.menu__subline {
  background-color: black;
  width: 100%;
  height: 1px;
}
