.menu {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.menu.open {
  pointer-events: auto;
}

.menu__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background_color);
  transition: opacity 0.3 ease-in-out;
}

@media screen and (min-width: 1200px),
  screen and (max-width: 1199px) and (min-width: 750px) {
  .menu__inner {
    display: flex;
    padding: 0 var(--page_margin);
    height: 100%;
  }
}

@media screen and (max-width: 749px) {
  .menu__inner {
    display: block;
    height: 100%;
    padding: calc(var(--header_top_height) + var(--spacing_5))
      var(--page_margin) 3.25rem;
  }
}

.menu__navigation {
  display: flex;
  padding-top: var(--header_top_height);
  padding-right: calc(var(--grid_gap) * 0 + var(--grid_col_width) * 0.5);
  padding-bottom: var(--page_margin);
  flex-shrink: 0;
  width: calc((var(--grid_col_width) + var(--grid_gap)) * 14 - var(--grid_gap));
  overflow: auto;
}

.menu__navigation::-webkit-scrollbar {
  display: none;
}

.menu__navigation > ul {
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 1199px) and (min-width: 750px) {
  .menu__navigation {
    width: calc(
      (var(--grid_col_width) + var(--grid_gap)) * 8 - var(--grid_gap)
    );
  }
}

@media screen and (max-width: 750px) {
  .menu__navigation {
    width: 100%;
    padding: 0 0 var(--spacing_3);
    height: auto;
  }
}

.menu__line-container {
  overflow: hidden;
}

.menu__inner ul {
  list-style: none;
}

.menu__line {
  width: 1px;
  background-color: currentColor;
  height: 100%;
}

@media screen and (max-width: 749px) {
  .menu__line {
    width: 100%;
    height: 1px;
  }
}

.menu__sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: max(var(--header_top_height), 22.5vh) 0 var(--page_margin)
    var(--grid_gap);
}

@media screen and (max-width: 749px) {
  .menu__sidebar {
    gap: var(--spacing_3);
    padding: var(--spacing_7) 0 0;
  }
}

.menu__nav-link {
  overflow: hidden;
}

.menu__nav-link > a {
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--heading_font_family);
  font-size: var(--h2_font_size);
}

.menu__subline {
  background-color: currentColor;
  width: 100%;
  height: 1px;
}

.menu__socials,
.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}

.menu__socials a,
.menu__contacts a {
  font-size: var(--h4_font_size);
  text-decoration: none;
  color: inherit;
}

.menu__socials a:hover,
.menu__contacts a:hover {
  color: var(--font_color_active);
}
