.catalog-section__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  padding: var(--spacing_6) 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.catalog-section__categories-container {
  grid-column-end: calc((var(--grid_cols) - var(--wrapper_col_span)) / -2 - 7);
  place-content: center;
}

.catalog-section__book-container {
  grid-column: span 5;
}

@media screen and (max-width: 749px) {
  .catalog-section__categories-container,
  .catalog-section__book-container {
    grid-column: 1 / -1;
  }

  .catalog-section__book-container {
    margin: var(--spacing_5) calc(var(--grid_col_width) * 2) var(--spacing_2);
    height: max-content;
  }
}

.catalog-section__categories {
  list-style: none;
  font-family: var(--heading_font_family);
  font-size: var(--h2_font_size);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: grid;
  gap: var(--spacing_1);
}

@media screen and (max-width: 749px) {
  .catalog-section__categories {
    font-size: var(--h3_font_size);
  }
}

.catalog-section__title {
  text-transform: uppercase;
  font-size: var(--sm_font_size);
  margin-bottom: var(--spacing_5);
  font-weight: 400;
}

@media screen and (max-width: 749px) {
  .catalog-section__title {
    margin-bottom: var(--spacing_3);
  }
}

.catalog-section__link {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.catalog-section__link.active {
  color: var(--font_color_active);
}
