.catalog-section__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.catalog-section__categories-container {
  grid-column-end: calc((var(--grid-cols) - var(--wrapper-col-span)) / -2 - 7);
  place-content: center;
}

.catalog-section__book-container {
  grid-column: span 5;
}

@media screen and (max-width: 749px) {
  .catalog-section__categories-container,
  .catalog-section__book-container {
    grid-column: 1 / -1;
  }

  .catalog-section__book-container {
    margin: var(--spacing-7) calc(var(--grid-col-width) * 2) 0;
    height: max-content;
  }
}

.catalog-section__categories {
  list-style: none;
  font-family: var(--heading_font_family);
  font-size: var(--h2_font_size);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: grid;
  gap: var(--spacing-1);
}

.catalog-section__title {
  text-transform: uppercase;
  font-size: var(--sm_font_size);
  margin-bottom: var(--spacing-5);
}

.catalog-section__link {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.catalog-section__link.active {
  color: var(--font-color-active);
}
